# Project-specific ignores
.vscode/
misc
old_code
wcm/
gephi/all_new.gephi 
gephi/all.gephi 
gephi/alt.gephi 
gephi/genitalium.gephi 
gephi/jcvi.gephi 
gephi/minesweeper_e.gephi 
gephi/pneumoniae.gephi 
modules/*.txt
modules/*_reactions.txt
modules/*_reactions_new.txt
modules/reaction_sorted.txt

output/*_e_*.gdf
output/*_f_*.gdf
output/alt_*.gdf
output/*_rxn*.gdf
output/*_new*.gdf
output/*test*.gdf
output/small_nodes.gdf
output/jcvi_*_nodes.gdf
output/aureus_full_nodes.gdf

logs/*_e.log
logs/*_e_*.log
logs/*_f.log
logs/*_f_*.log
logs/alt_*.log
logs/*_rxn*.log
logs/*_new*.log
logs/*test*.log
logs/small.log
logs/jcvi_*.log
logs/aureus_full.log
logs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
